
header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid var(--gray);
	background-color: var(--light);
	color: var(--gray);
}
li{
    display: inline-block;
    justify-content: center;
    margin: 1rem;
	cursor: pointer;
}
.logo{
	width: 150px;
	height: 150px;
}
